/* GENERAL STYLING */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}

a {
  cursor: pointer;
}

.nav {
  display: flex;
  padding: 1em 2em;
  justify-content: space-between;
  font-size: 1.2rem;
}

.nav span {
  color: rgb(62, 62, 62);
}

.nav ul {
  display: flex;
  gap: 1em;
  justify-content: flex-end;
  list-style: none;
}

.nav a {
  text-decoration: none;
  color: #003566;
  font-weight: 700;
}

.nav a:hover {
  color: #f1a223;
}

.nav span::after {
  content: '\2192';
  margin-left: 5px;
}

.nav.contact {
  border: 1px solid black;
}

.nav.reference {
  border: 1px solid black;
}


/* HOME PAGE STYLING*/
#home_header {
  background-image: url('/palmtrees.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 550px;
  position: relative;
}

#home_header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.home_attractions {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 1.3rem;
}

.home_attractions a {
  float: right;
}

.home_attractions ul {
  margin-left: 1em;
}

.home_attractions ol {
  margin-left: 1.2em;
}

.home_aside {
  width: 10%;
  font-size: 1.2rem;
  color: #3d405b;
}

.home_img {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  overflow: hidden;
}

.home_attractions a {
  margin-left: auto;
}

#home_los_angeles {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6em 5em;
  gap: 8em;
}

#home_san_francisco {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6em 10em 5em 5em;
  gap: 6em;
}

/*CITY GENERAL STYLING*/
.about {
  padding: 6em 15em;
}

.about h2 {
  padding-bottom: 0.8em;
  font-size: 2rem;
}

.info {
  display: flex;
  gap: 1.5em;
  font-size: 1.3rem;
}

.info aside {
  width: 30%;
}

/*LOS ANGELES STYLING*/
#los_angeles_header {
  background-image: url('/venice.jpg');
  background-size: cover;
  background-position: 25% 42%;
  background-repeat: no-repeat;
  height: 550px;
  position: relative;
}

#los_angeles_header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 5rem;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
}

/*SAN FRANCISCO STYLING*/
#san_francisco_header {
  background-image: url('/sfcity.jpg');
  background-size: cover;
  background-position: 25% 60%;
  background-repeat: no-repeat;
  height: 550px;
  position: relative;
}

#san_francisco_header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 5rem;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
}

/*CONTACT STYLING*/
.item1 {
  grid-area: header;
}

.item2 {
  grid-area: first_name;
}

.item3 {
  grid-area: last_name;
}

.item4 {
  grid-area: email1;
}

.item5 {
  grid-area: email2;
}

.item6 {
  grid-area: message;
}

#contact_form {
  margin-top: 20em;
}

#form_grid {
  display: grid;
  gap: 1em;
  grid-template-areas:
    'header header'
    'first_name last_name'
    'email1 email1'
    'email2 email2'
    'message message';
  border: 1px solid black;
  width: 50%;
  margin: 0 auto;
  padding: 4em;
  background-color: #edede9;
  font-size: 1.1rem;
}

#contact_form input {
  padding: 1em;
}

#contact_form input:focus {
  box-shadow: 0 1px 0 var(--Grey);
}

#form_grid button {
  padding: 1em;
  color: white;
  border-radius: .5em;
  font-weight: 700;
  font-size: 1rem;
}

#form_grid button:hover {
  cursor: pointer;
}

#form_grid button:active {
  transform: translateY(2.5px);
}

.submit-btn {
  background-color: #003566;
}

.cancel-btn {
  background-color: #9197b68e;
}

/*REFERENCES STYLING*/
.references {
  display: flex;
  padding-top: 5em;
  align-items: center;
  justify-content: center;
}

.references td {
  padding: .6em;
}